* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chalkboard SE", "Chalkboard", cursive, sans-serif;
}

body {
  background-color: rgb(33 33 33); /* El azul de tu imagen */
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}